@page
@using _0_Framework.Application
@using ShopManagement.Application.Contracts
@model ServiceHost.Pages.CheckoutModel
@{
    ViewData["Title"] = "تکمیل فرایند خرید";
}

<div class="main-site-wrap">
    <div class="mweb-site-mask"></div>
    <div class="site-wrap-outer clear">

        <div class="container-wrap page-shopping-cart">
            <div class="container">
                <div class="order-steps">
                    <div class="checkout-breadcrumb">
                        <div class="title-cart">
                            <i class="fal fa-bags-shopping"></i>
                            <a href="#">
                                <h4>سبد خرید</h4>
                            </a>
                        </div>
                        <div class="title-checkout">
                            <i class="fal fa-file-invoice"></i>
                            <a href="#">
                                <h4 style="opacity:1;">جزئیات پرداخت</h4>
                            </a>
                        </div>
                        <div class="title-thankyou">
                            <i class="fal fa-receipt"></i>
                            <h4>تکمیل سفارش</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div id="content" class="wc_page_body mweb_checkout_page">
                    <div class="products">
                        <div class="products-notices-wrapper"></div><div class="products-form-coupon-toggle">

                            <div class="products-info">ارسال مرسوله برای بار اول رایگان</div>
                        </div>


                        <div class="products-notices-wrapper"></div>
                        <form name="checkout" method="post" class="checkout products-checkout">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12">
                                    <h3 id="order_review_heading">سفارش شما</h3>
                                    <div id="order_review" class="products-checkout-review-order">
                                        <table class="shop_table products-checkout-review-order-table">
                                            <thead>
                                                <tr>
                                                    <th class="product-name">محصول</th>
                                                    <th class="product-name">قیمت واحد</th>
                                                    <th class="product-total">درصد تخفیف</th>
                                                    <th class="product-total">مبلغ تخفیف</th>
                                                    <th class="product-total">جمع جزء</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Cart.Items)
                                                {
                                                    <tr class="cart_item">
                                                        <td class="product-name">@item.Name&nbsp;<strong class="product-quantity">×&nbsp;@item.Count</strong></td>
                                                        <td class="product-total">
                                                            <span class="products-Price-amount amount">
                                                                <bdi>@item.UnitPrice.ToMoney()&nbsp;<span class="products-Price-currencySymbol">تومان</span></bdi>
                                                            </span>
                                                        </td>
                                                        <td class="product-total">
                                                            <span class="products-Price-amount amount">
                                                                <bdi>@item.DiscountRate&nbsp;<span class="products-Price-currencySymbol">%</span></bdi>
                                                            </span>
                                                        </td>
                                                        <td class="product-total">
                                                            <span class="products-Price-amount amount">
                                                                <bdi>@item.DiscountAmount.ToMoney()&nbsp;<span class="products-Price-currencySymbol">تومان</span></bdi>
                                                            </span>
                                                        </td>
                                                        <td class="product-total">
                                                            <span class="products-Price-amount amount">
                                                                <bdi>@item.TotalItemPrice.ToMoney()&nbsp;<span class="products-Price-currencySymbol">تومان</span></bdi>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                        <table class="shop_table products-checkout-review-order-table">
                                            <thead>
                                                <tr>
                                                    <th class="product-name">مبلغ نهایی</th>
                                                    <th class="product-name">جمع تخفیف</th>
                                                    <th class="product-total">مبلغ قابل پرداخت</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="cart_item">
                                                    <td>
                                                        <strong><span class="products-Price-amount amount"><bdi>@Model.Cart.TotalAmount.ToMoney()&nbsp;<span class="products-Price-currencySymbol">تومان</span></bdi></span></strong>
                                                    </td>
                                                    <td>
                                                        <strong><span class="products-Price-amount amount"><bdi>@Model.Cart.DiscountAmount.ToMoney()&nbsp;<span class="products-Price-currencySymbol">تومان</span></bdi></span></strong>
                                                    </td>
                                                    <td>
                                                        <strong><span class="products-Price-amount amount"><bdi>@Model.Cart.PayAmount.ToMoney()&nbsp;<span class="products-Price-currencySymbol">تومان</span></bdi></span></strong>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>


                                        <div id="payment" class="products-checkout-payment">
                                            <ul class="payment_methods methods">
                                                @foreach (var method in PaymentMethod.GetList())
                                                {
                                                    <li class="payment_method_cheque">
                                                        <input id="payment_@method.Id" type="radio" class="input-radio" name="paymentmethod" value="@method.Id" @(PaymentMethod.GetList().First().Id == method.Id ? "checked" : "")>
                                                        <label for="payment_@method.Id">@method.Name</label>
                                                        <div class="payment_box payment_method_cheque">
                                                            <p>@method.Description</p>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                            <div class="form-row place-order">
                                                <button asp-page-handler="Pay" id="place_order" class="place_order_button" class="button alt" name="products_checkout_place_order" value="ثبت سفارش">ثبت سفارش</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>