@page
@inject ShopManagement.Application.Contracts.Setting.ISettingApplication setting
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-site-wrap">
    <div class="mweb-site-mask"></div>

    <div class="site-wrap-outer clear">
        <div class="elementor elementor-1702">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">


                    <section class="elementor-section elementor-top-section elementor-element elementor-section-boxed elementor-section-height-default elementor-section-height-default">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-100">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element overflow_hide elementor-widget elementor-widget-shortcode">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-shortcode">
                                                        <!-- START Slider -->
                                                        <p class="rs-p-wp-fix"></p>

                                                        @await Component.InvokeAsync("Slide")
                                                        @await Component.InvokeAsync("BrandIndex")
                                                        <!-- END REVOLUTION SLIDER -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="elementor-section elementor-top-section elementor-element elementor-section-boxed elementor-section-height-default">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-f78791c elementor-widget elementor-widget-block-promotion">
                                                <div class="elementor-widget-container">
                                                    <div class="banner hover-zoom">
                                                        <a href="@setting.GetDetails(2).Banner1Link" title="@setting.GetDetails(2).Banner1Title" target="_blank" rel="nofollow">
                                                            <div class="banner-image" style="background-image: url('/ProductPictures/2022-08-29-12-56-03-ban5-min.png');"></div>
                                                            <div class="banner-content-warper">
                                                                <div class="banner-content align-right valign-top text-align-right">
                                                                    <div class="banner-inner">
                                                                        <h3>@setting.GetDetails(2).Banner1Title</h3>
                                                                        <p>@setting.GetDetails(2).Banner1Des</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-846e511 elementor-widget elementor-widget-block-promotion">
                                                <div class="elementor-widget-container">
                                                    <div class="banner hover-zoom">
                                                        <div class="banner-image" style="background-image: url('/ProductPictures/2022-08-29-12-56-03-ban3-min.png');"></div>
                                                        <div class="banner-content-warper">
                                                            <div class="banner-content align-left valign-middle text-align-right">
                                                                <div class="banner-inner">
                                                                    <h3>@setting.GetDetails(2).Banner2Title</h3>
                                                                    <p>@setting.GetDetails(2).Banner2Des</p>
                                                                    <a href="@setting.GetDetails(2).Banner2Link" class="btn btn_link_left" target="_blank" rel="nofollow">بیشتر</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-bb82f8a elementor-widget elementor-widget-block-promotion">
                                                <div class="elementor-widget-container">
                                                    <div class="banner hover-zoom">
                                                        <div class="banner-image" style="background-image: url('/ProductPictures/2022-08-29-12-56-03-ban4-min.png');"></div>
                                                        <div class="banner-content-warper">
                                                            <div class="banner-content align-left valign-middle text-align-right">
                                                                <div class="banner-inner">
                                                                    <h3>@setting.GetDetails(2).Banner2Title</h3>
                                                                    <p>@setting.GetDetails(2).Banner3Des</p>
                                                                    <a href="@setting.GetDetails(2).Banner3Link" class="btn btn_link_center" target="_blank" rel="nofollow">بیشتر</a>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                    

                    @await Component.InvokeAsync("SpecialProducts")


                    @await Component.InvokeAsync("LatestProducts")



                    @await Component.InvokeAsync("Orders")



                    @await Component.InvokeAsync("MostVisit")


                    <section class="elementor-section elementor-top-section elementor-element elementor-section-boxed elementor-section-height-default elementor-section-height-default">
                        <div class="elementor-container elementor-column-gap-narrow">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element">
                                    <div class="elementor-column-wrap elementor-element-populated">

                                        @await Component.InvokeAsync("ArticleIndexPage")

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>






                </div>
            </div>
        </div>
    </div>
</div>
