@page "{id}"
@model ServiceHost.Pages.ProductModel
@{
    ViewData["Title"] = "صفحه محصول";
}

<div class="main-site-wrap">
    <div class="mweb-site-mask"></div>
    <div class="site-wrap-outer clear">
        <div id="container">
            <div id="content" role="main">
                <div class="container">
                    <nav class="products-breadcrumb">
                        <a asp-page="~/Index">خانه</a>&nbsp;&#47;&nbsp;<a asp-page="/ProductCategory" asp-route-id="@Model.Product.CategoryId">@Model.Product.Category</a>&nbsp;&#47;&nbsp;@Model.Product.Name
                    </nav>

                    <div class="products-notices-wrapper"></div>

                    <div class="product type-product status-publish first instock product_cat-inner-car-interior has-post-thumbnail sale shipping-taxable purchasable product-type-variable">

                        <div class="primary_block row clearfix">
                            <div class="entry-img single_p_gallery gallery_type_h col-12 col-sm-12 col-md-12 col-lg-4" data-direction="horizontal">
                                <div class="inner">

                                    @if (Model.Product.HasDiscount)
                                    {<div class="product-label label-circle"><div class="circle"></div><span>@Model.Product.DiscountRate%</span></div>}
                                    <div class="images gallery-with-images">
                                        <div class="product-images">
                                            <div class="swiper-container" dir="rtl">
                                                <div class="swiper-wrapper">
                                                    @*<div class="swiper-slide img products-product-gallery__image">
                                                        <img src="~/ProductPictures/@Model.Product.Picture" class="img-responsive products-main-image" alt="@Model.Product.PictureAlt" />
                                                    </div>*@

                                                    @foreach (var picture in Model.Product.Pictures)
                                                    {
                                                        <div class="swiper-slide img products-product-gallery__image">
                                                            <img src="~/ProductPictures/@picture.Picture" class="img-responsive products-main-image" alt="@picture.PictureAlt" title="@picture.PictureTitle" />
                                                        </div>
                                                    }


                                                </div>
                                            </div>
                                        </div>

                                        <div class="product_tools_btn">
                                            <span class="popup-image" id="btn_popup_images"></span>
                                        </div>
                                    </div>

                                    <div class="thumbnails">
                                        <div class="product-thumbs">
                                            <div class="swiper-container" dir="rtl">
                                                <div class="swiper-wrapper">

                                                    @foreach (var picture in Model.Product.Pictures)
                                                    {
                                                        <div class="swiper-slide img products-product-gallery__image">
                                                            <img src="~/ProductPictures/@picture.Picture" class="img-responsive products-main-thumb" alt="@picture.PictureAlt" title="@picture.PictureTitle" />
                                                        </div>
                                                    }
                                                    
                                                </div>
                                                <div class="swiper-button-next swiper-button-v1-next"></div>
                                                <div class="swiper-button-prev swiper-button-v1-prev"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="summary entry-summary col-12 col-sm-12 col-md-12 col-lg-8">
                                <div class="single_product_head">
                                    <h1 class="product_title entry-title">@Model.Product.Name</h1>
                                    <div class="product_meta">
                                        <span class="sku_wrapper">شناسه محصول: <span class="sku">@Model.Product.Code</span></span>

                                        <span class="posted_in">دسته: <a asp-page="/ProductCategory" asp-route-id="@Model.Product.CategoryId">@Model.Product.Category</a></span>


                                    </div>
                                </div>
                                <div class="products-product-summary-line"></div>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-9 col-lg-9">
                                        @if (Model.Product.HasDiscount)
                                        {
                                            <p class="price">
                                                <del aria-hidden="true">
                                                    <span class="Price-amount amount"><bdi>@Model.Product.Price&nbsp;<span class="products-Price-currencySymbol">تومان</span></bdi></span>
                                                </del>  <i>|</i>  <span class="products-Price-amount amount"><bdi>@Model.Product.PriceWithDiscount&nbsp;<span class="products-Price-currencySymbol">تومان</span></bdi></span>
                                            </p>
                                        }
                                        else
                                        {
                                            <p class="price">
                                                <span class="products-Price-amount amount"><bdi>@Model.Product.Price&nbsp;<span class="products-Price-currencySymbol">تومان</span></bdi></span>
                                            </p>
                                        }

                                    <div clsss="variations_form cart">
                                        <div class="single_variation_wrap">
                                            <div class="products-variation single_variation"></div>
                                            <div class="products-variation-add-to-cart variations_button">
                                                <div class="quantity">
                                                    <label class="screen-reader-text">@Model.Product.Name</label>
                                                    <input type="number" class="input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="تعداد" size="4" inputmode="numeric" id="productCount" />
                                                    <div class="plus-minus">
                                                        <div class="increase elm_qty fal fa-plus"></div>
                                                        <div class="reduced elm_qty fal fa-minus"></div>
                                                    </div>
                                                </div>

                                                <button type="button" class="single_add_to_cart_button button alt" onclick="addToCart('@Model.Product.Id', '@Model.Product.Name', '@Model.Product.DoublePrice', '@Model.Product.Picture')">افزودن به سبد خرید</button>
                                            </div>
                                        </div>
                                    </div>

                                        

                                        <span class="lead_time el_ready"><i class="fal fa-truck-loading"></i> آماده ارسال</span>

                                        <div class="clear"></div>
                                        <div class="add_to_wishlist_wrap">
                                            <a href="#" class="compare">مقایسه</a>
                                        </div>
                                        <div class="add_to_wishlist_wrap">
                                            <a href="#" class="add_to_wishlist single_add_to_wishlist">افزودن به علاقه مندی ها</a>
                                        </div>


                                    </div>

                                    <div class="single_info_box col-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="info_box">
                                            @if (Model.Product.IsStock)
                                            {
                                                <i class="fal fa-check-circle"></i><span>موجود در انبار</span>
                                            }
                                            else
                                            {
                                                <i class="fal fa-ban"></i><span>ناموجود</span>
                                            }


                                        </div>
                                        <div class="info_box hide_tablet hide_mobile"><i class="fal fa-truck"></i><span>تحویل اکسپرس</span></div>
                                        <div class="info_box hide_tablet hide_mobile"><i class="fal fa-calendar-check"></i><span>ضمانت بازگشت</span></div>
                                        <div class="info_box hide_tablet hide_mobile"><i class="fal fa-credit-card"></i><span>پرداخت در محل</span></div>
                                        <div class="info_box hide_tablet hide_mobile"><i class="fal fa-certificate"></i><span>ضمانت اصل بودن</span></div>
                                        <div class="info_box hide_tablet hide_mobile"><i class="fal fa-map"></i><span>ارسال به تمام نقاط</span></div>
                                        <div class="info_box hide_tablet hide_mobile"><i class="fal fa-gift"></i><span>بسته بندی زیبا</span></div>

                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>


                    <div class="products-tabs wc-tabs-wrapper">
                        <ul class="tabs wc-tabs scrolling-wrapper" role="tablist">
                            <li class="description_tab" id="tab-title-description" role="tab" aria-controls="tab-description">
                                <a href="#tab-description">توضیحات</a>
                            </li>
                            @*<li class="additional_information_tab" role="tab" aria-controls="tab-additional_information">
                                <a href="#tab-additional_information">اطلاعات بیشتر</a>
                            </li>*@
                            <li class="reviews_tab" role="tab" aria-controls="tab-reviews">
                                <a href="#tab-reviews">نظرات کاربران</a>
                            </li>
                            @*<li class="questions_tab" id="tab-title-questions" role="tab" aria-controls="tab-questions">
                                <a href="#tab-questions">سوالات کاربران</a>
                            </li>*@
                            <li class="review_p_tab_tab" id="tab-title-review_p_tab" role="tab" aria-controls="tab-review_p_tab">
                                <a href="#tab-review_p_tab">نقد و بررسی</a>
                            </li>

                        </ul>
                        <div class="products-Tabs-panel entry-content wc-tab" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">
                            <div class="tab_content_heading">
                                <i class="fal fa-pen-alt"></i>
                                <div class="heading_left"><span class="tab_h_title">نقد و بررسی اجمالی</span><span class="tab_h_desc"></span></div>
                            </div>
                            <p>@Model.Product.Description</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            
                            <span class="tagged_as">برچسب: @Model.Product.Keywords</span>
                        </div>
                        <div class="products-Tabs-panel entry-content wc-tab" id="tab-additional_information" role="tabpanel" aria-labelledby="tab-title-additional_information">

                            <div class="tab_content_heading">
                                <i class="fal fa-ballot"></i>
                                <div class="heading_left">
                                    <span class="tab_h_title">مشخصات کلی</span><span class="tab_h_desc"></span>
                                </div>
                            </div>

                            @*<table class="shop_attributes">
                                <tr class="attribute_group_row attribute_group_row_defined">
                                    <th class="attribute_group_name" colspan="2"><i class="fal fa-chevron-circle-left attribute-group-icon"></i>سایر مشخصات</th>
                                </tr>
                                <tr class="attribute_row attribute_row_list">
                                    <td>
                                        <table class="attribute_name_values">
                                            <tr><th class="attribute_name">جنس</th><td class="attribute_value"><p>پلی اورتان</p></td></tr>
                                            <tr class="alt">
                                                <th class="attribute_name">مناسب برای خودرو</th>
                                                <td class="attribute_value"><p>پراید<br />ساینا<br />تیبا 1<br />تیبا 2</p></td>
                                            </tr>
                                            <tr>
                                                <th class="attribute_name">قابلیت شستشو</th>
                                                <td class="attribute_value"><p>دارد</p></td>
                                            </tr>
                                            <tr class="alt">
                                                <th class="attribute_name">سایر توضیحات</th>
                                                <td class="attribute_value"><p>مناسب برای پراید تیبا 1 تیبا 2 ساینا<br />دارای استیل ضد خش<br />دارای سه تکه مجزا</p></td>
                                            </tr>
                                            <tr>
                                                <th class="attribute_name">رنگ</th>
                                                <td class="attribute_value"><p>قرمز<br />مشکی</p></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>*@
                        </div>

                        <div class="products-Tabs-panel entry-content wc-tab" id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews">
                            <div class="tab_content_heading">
                                <i class="fal fa-comment-alt-lines"></i>
                                <div class="heading_left">
                                    <span class="tab_h_title">نظرات کاربران</span><span class="tab_h_desc"></span>
                                </div>
                            </div>

                            <div id="reviews" class="products-Reviews">
                                <div class="advanced-review row">
                                    <div class="col-12 col-sm-6">
                                        <div class="review_rules">
                                            <p>
                                                لطفا پیش از ارسال نظر، خلاصه قوانین زیر را مطالعه کنید:
                                                فارسی بنویسید و از کیبورد فارسی استفاده کنید. بهتر است از فضای خالی (Space) بیش‌از‌حدِ معمول، شکلک یا ایموجی استفاده نکنید و از کشیدن حروف یا کلمات با صفحه‌کلید بپرهیزید.
                                                نظرات خود را براساس تجربه و استفاده‌ی عملی و با دقت به نکات فنی ارسال کنید؛ بدون تعصب به محصول خاص، مزایا و معایب را بازگو کنید و بهتر است از ارسال نظرات چندکلمه‌‌ای خودداری کنید.
                                                بهتر است در نظرات خود از تمرکز روی عناصر متغیر مثل قیمت، پرهیز کنید.
                                                به کاربران و سایر اشخاص احترام بگذارید. پیام‌هایی که شامل محتوای توهین‌آمیز و کلمات نامناسب باشند، حذف می‌شوند.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-6">
                                        <div id="review_form_wrapper">
                                            <div id="review_form">
                                                <div id="respond" class="comment-respond">
                                                    <span id="reply-title" class="comment-reply-title">دیدگاه خود را در مورد محصول &ldquo;کفپوش سه بعدی خودرو ماهوت مدل اکو مناسب برای پراید تیبا ساینا&rdquo;بنویسید</span>
                                                    <p class="must-log-in">
                                                        <strong>برای ثبت دیدگاه، لازم است ابتدا وارد حساب کاربری خود شوید.</strong>
                                                        <button class="comment_login"><i class="fal fa-comment"></i>افزودن دیدگاه جدید</button>
                                                    </p>
                                                    <form action="#" method="post" id="commentform" class="comment-form" novalidate="">
                                                        <div class="comment-form-rating">
                                                            <label for="rating">امتیاز شما</label>
                                                            <p class="stars">
                                                                <span>
                                                                    <a class="star-1" href="#">1</a>
                                                                    <a class="star-2" href="#">2</a>
                                                                    <a class="star-3" href="#">3</a>
                                                                    <a class="star-4" href="#">4</a>
                                                                    <a class="star-5" href="#">5</a>
                                                                </span>
                                                            </p>
                                                        </div>

                                                        <div class="rating_wrap">
                                                            <span>کیفیت ساخت: </span>
                                                            <div class="rate_slider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content ui-slider-pips ui-slider-float">
                                                                <span class="ui-slider-handle ui-corner-all ui-state-default"><span class="ui-slider-tip">معمولی</span></span>
                                                                <span class="ui-slider-pip ui-slider-pip-first ui-slider-pip-1"><span class="ui-slider-line"></span><span class="ui-slider-label">1</span></span>
                                                                <span class="ui-slider-pip ui-slider-pip-2"><span class="ui-slider-line"></span><span class="ui-slider-label">2</span></span>
                                                                <span class="ui-slider-pip ui-slider-pip-3 ui-slider-pip-initial ui-slider-pip-selected"><span class="ui-slider-line"></span><span class="ui-slider-label">3</span></span>
                                                                <span class="ui-slider-pip ui-slider-pip-4"><span class="ui-slider-line"></span><span class="ui-slider-label">4</span></span>
                                                                <span class="ui-slider-pip ui-slider-pip-last ui-slider-pip-5"><span class="ui-slider-line"></span><span class="ui-slider-label">5</span></span>
                                                            </div>
                                                            <input type="hidden" value="3">
                                                        </div>

                                                        <div class="rating_wrap">
                                                            <span>طراحی و زیبایی: </span>
                                                            <div class="rate_slider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content ui-slider-pips ui-slider-float">
                                                                <span class="ui-slider-handle ui-corner-all ui-state-default"><span class="ui-slider-tip">معمولی</span></span>
                                                                <span class="ui-slider-pip ui-slider-pip-first ui-slider-pip-1"><span class="ui-slider-line"></span><span class="ui-slider-label">1</span></span>
                                                                <span class="ui-slider-pip ui-slider-pip-2"><span class="ui-slider-line"></span><span class="ui-slider-label">2</span></span>
                                                                <span class="ui-slider-pip ui-slider-pip-3 ui-slider-pip-initial ui-slider-pip-selected"><span class="ui-slider-line"></span><span class="ui-slider-label">3</span></span>
                                                                <span class="ui-slider-pip ui-slider-pip-4"><span class="ui-slider-line"></span><span class="ui-slider-label">4</span></span>
                                                                <span class="ui-slider-pip ui-slider-pip-last ui-slider-pip-5"><span class="ui-slider-line"></span><span class="ui-slider-label">5</span></span>
                                                            </div>
                                                            <input type="hidden" value="3">
                                                        </div>

                                                        <div class="rating_wrap">
                                                            <span>راحتی استفاده: </span>
                                                            <div class="rate_slider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content ui-slider-pips ui-slider-float">
                                                                <span class="ui-slider-handle ui-corner-all ui-state-default"><span class="ui-slider-tip">معمولی</span></span>
                                                                <span class="ui-slider-pip ui-slider-pip-first ui-slider-pip-1"><span class="ui-slider-line"></span><span class="ui-slider-label">1</span></span>
                                                                <span class="ui-slider-pip ui-slider-pip-2"><span class="ui-slider-line"></span><span class="ui-slider-label">2</span></span>
                                                                <span class="ui-slider-pip ui-slider-pip-3 ui-slider-pip-initial ui-slider-pip-selected"><span class="ui-slider-line"></span><span class="ui-slider-label">3</span></span>
                                                                <span class="ui-slider-pip ui-slider-pip-4"><span class="ui-slider-line"></span><span class="ui-slider-label">4</span></span>
                                                                <span class="ui-slider-pip ui-slider-pip-last ui-slider-pip-5"><span class="ui-slider-line"></span><span class="ui-slider-label">5</span></span>
                                                            </div>
                                                            <input type="hidden" value="3">
                                                        </div>

                                                        <div class="rating_wrap">
                                                            <span>ارزش خرید: </span>
                                                            <div class="rate_slider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content ui-slider-pips ui-slider-float">
                                                                <span class="ui-slider-handle ui-corner-all ui-state-default"><span class="ui-slider-tip">معمولی</span></span>
                                                                <span class="ui-slider-pip ui-slider-pip-first ui-slider-pip-1"><span class="ui-slider-line"></span><span class="ui-slider-label">1</span></span>
                                                                <span class="ui-slider-pip ui-slider-pip-2"><span class="ui-slider-line"></span><span class="ui-slider-label">2</span></span>
                                                                <span class="ui-slider-pip ui-slider-pip-3 ui-slider-pip-initial ui-slider-pip-selected"><span class="ui-slider-line"></span><span class="ui-slider-label">3</span></span>
                                                                <span class="ui-slider-pip ui-slider-pip-4"><span class="ui-slider-line"></span><span class="ui-slider-label">4</span></span>
                                                                <span class="ui-slider-pip ui-slider-pip-last ui-slider-pip-5"><span class="ui-slider-line"></span><span class="ui-slider-label">5</span></span>
                                                            </div>
                                                            <input type="hidden" value="3">
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-12 col-sm-6 advantages warp_add_point">
                                                                <label>نقاط قوت</label>
                                                                <div class="add_point">
                                                                    <input title="نقاط قوت" class="input_add_point" type="text" id="advantage-input" value="">
                                                                    <button type="button" class="add_point_advantage"></button>
                                                                </div>
                                                                <div class="advantages_list"></div>
                                                            </div>

                                                            <div class="col-12 col-sm-6 disadvantages warp_add_point">
                                                                <label>نقاط ضعف</label>
                                                                <div class="add_point">
                                                                    <input title="نقاط ضعف" class="input_add_point" type="text" id="disadvantages-input" value="">
                                                                    <button type="button" class="add_point_disadvantage"></button>
                                                                </div>
                                                                <div class="disadvantages_list"></div>
                                                            </div>
                                                        </div>

                                                        <p class="comment-form-comment">
                                                            <label for="comment">دیدگاه شما <span class="required">*</span></label>
<textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" required=""></textarea>
                                                        </p>

                                                        <p class="form-submit">
                                                            <input name="submit" type="submit" id="submit" class="submit" value="ثبت">
                                                        </p>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-12">
                                        <div id="comments" class="comment_override">
                                            <h2 class="products-Reviews-title">نقد و بررسی‌ها</h2>
                                            <p class="products-noreviews">هیچ دیدگاهی برای این محصول نوشته نشده است.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="products-Tabs-panel products-Tabs-panel--questions panel entry-content wc-tab" id="tab-questions" role="tabpanel" aria-labelledby="tab-title-questions">
                            <div class="tab_content_heading">
                                <i class="fal fa-question-square"></i>
                                <div class="heading_left">
                                    <span class="tab_h_title">پرسش و پاسخ</span><span class="tab_h_desc"></span>
                                </div>
                            </div>
                            <ul class="questionlist"></ul>

                            <div id="respond" class="comment-respond">
                                <div class="block-title cm_title title--decor1">
                                    <span class="title">
                                        ارسال پرسش <small>
                                            <a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">لغو پاسخ</a>
                                        </small>
                                    </span>
                                </div>
                                <form action="#" method="post" id="questions-form" class="questions-form">
                                    <p class="logged-in-as">
                                        <a href="#">با عنوان محسن وارد شده‌اید</a>.
                                        <a href="#">خارج می‌شوید؟</a>
                                    </p>
                                    <div class="form-group">
                                        <textarea id="comment" name="comment" class="form-control" cols="45" placeholder="پرسش خود را بنوسید" rows="7" required=""></textarea>
                                        <input type="hidden" name="comment_type" value="pquestion" id="comment_type">
                                    </div>
                                    <p class="form-submit">
                                        <input name="submit" type="submit" id="submit" class="submit" value="ارسال پرسش"> <input type="hidden" name="comment_post_ID" value="1790">
                                    </p>
                                </form>
                            </div>

                        </div>


                        <div class="products-Tabs-panel products-Tabs-panel--review_p_tab panel entry-content wc-tab" id="tab-review_p_tab" role="tabpanel">
                            <div class="tab_content_heading">
                                <i class="fal fa-clipboard-list-check"></i>
                                <div class="heading_left">
                                    <span class="tab_h_title">نقد و بررسی</span><span class="tab_h_desc"></span>
                                </div>
                            </div>
                            <div class="row clear">
                                <div class="col-12 col-sm-12 col-md-4">
                                    <div class="products_review_point good">
                                        <span class="review_title">نقاط قوت</span>
                                        <ul>
                                            <li>همه چیش</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12 col-md-4">
                                    <div class="products_review_point bad">
                                        <span class="review_title">نقاط ضعف</span>
                                        <ul>
                                            <li>واقعا هیچی</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12 col-md-4">
                                    <div class="products_review_progress clear">
                                        <p class="progress-label">کیفیت ساخت: <span>8.7</span></p>
                                        <div class="progress progress-animation progress-xs right"><div class="progress-bar" role="progressbar" data-transitiongoal="87"></div></div>
                                        <p class="progress-label">طراحی و زیبایی: <span>9.0</span></p>
                                        <div class="progress progress-animation progress-xs right"><div class="progress-bar" role="progressbar" data-transitiongoal="90"></div></div>
                                        <p class="progress-label">راحتی استفاده: <span>9.1</span></p>
                                        <div class="progress progress-animation progress-xs right"><div class="progress-bar" role="progressbar" data-transitiongoal="91"></div></div>
                                        <p class="progress-label">ارزش خرید: <span>0.0</span></p>
                                        <div class="progress progress-animation progress-xs right"><div class="progress-bar" role="progressbar" data-transitiongoal="50"></div></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                    <section class="block-wrap related products prdtype_2 mweb-swiper">
                        <div class="block-title"><span class="title"><i class="small fal fa-retweet"></i>محصولات مرتبط</span></div>
                        <div class="swiper-slider swiper-container" dir='rtl' data-slider="{&quot;slidesPerView&quot;:1,&quot;spaceBetween&quot;:15,&quot;watchSlidesVisibility&quot;:true,&quot;loop&quot;:false,&quot;autoplay&quot;:false,&quot;touchMoveStopPropagation&quot;:true,&quot;navigation&quot;:{&quot;nextEl&quot;:&quot;.mweb-swiper-next&quot;,&quot;prevEl&quot;:&quot;.mweb-swiper-prev&quot;},&quot;breakpoints&quot;:{&quot;575&quot;:{&quot;slidesPerView&quot;:1},&quot;768&quot;:{&quot;slidesPerView&quot;:2},&quot;1024&quot;:{&quot;slidesPerView&quot;:5}}}">

                            <div class="swiper-wrapper">

                                <div class="swiper-slide">
                                    <li class="item product type-product status-publish first instock product_cat-inner-car-interior has-post-thumbnail">
                                        <div class="item-area item_general clear">
                                            <div class="product-image-area">
                                                <a class="product-image" href="#"><img src="img/Untitled-1-185x185.jpg" alt="" /></a>
                                            </div>
                                            <div class="product-detail-area">
                                                <span class="price"><span class="products-Price-amount amount"><bdi>1,120,000&nbsp;<span class="products-Price-currencySymbol">تومان</span></bdi></span></span>

                                                <a href="#" rel="bookmark" title="رینگ آلومینیومی چرخ رنو مدل 230414 سایز 16 اینچ">
                                                    <h2 class="products-loop-product__title">رینگ آلومینیومی چرخ رنو مدل 230414 سایز 16 اینچ</h2>
                                                </a>
                                                <div class="actions">
                                                    <ul class="add-to-links">
                                                        <li><div class="add_to_wishlist_wrap"><a href="#" class="add_to_wishlist archive_add_to_wishlist"></a></div></li>
                                                        <li class="compare-button"><a href="#" class="button compare">مقایسه</a></li>
                                                        <li>
                                                            <div class="add-to-cart-wrap">
                                                                <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">افزودن به سبد</a>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </div>

                                <div class="swiper-slide">
                                    <li class="item product type-product status-publish first instock product_cat-inner-car-interior has-post-thumbnail">
                                        <div class="item-area item_general clear">
                                            <div class="product-image-area">
                                                <a class="product-image" href="#"><div class="out_of_stock"><span>ناموجود</span></div><img src="img/7654-185x185.jpg" alt="" /></a>
                                            </div>
                                            <div class="product-detail-area">
                                                <span class="price"><span class="products-Price-amount amount"></span></span>

                                                <a href="#" rel="bookmark" title="روکش صندلی ماساژ بیورر MG260">
                                                    <h2 class="products-loop-product__title">روکش صندلی ماساژ بیورر MG260</h2>
                                                </a>
                                                <div class="actions">
                                                    <ul class="add-to-links">
                                                        <li><div class="add_to_wishlist_wrap"><a href="#" class="add_to_wishlist archive_add_to_wishlist"></a></div></li>
                                                        <li class="compare-button"><a href="#" class="button compare">مقایسه</a></li>
                                                        <li>
                                                            <div class="add-to-cart-wrap">
                                                                <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">افزودن به سبد</a>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </div>

                                <div class="swiper-slide">
                                    <li class="item product type-product status-publish first instock product_cat-inner-car-interior has-post-thumbnail">
                                        <div class="item-area item_general clear">
                                            <div class="product-image-area">
                                                <a class="product-image" href="#"><img src="img/683256-185x185.jpg" alt="" /></a>
                                            </div>
                                            <div class="product-detail-area">
                                                <span class="price"><span class="products-Price-amount amount"><bdi>1,120,000&nbsp;<span class="products-Price-currencySymbol">تومان</span></bdi></span></span>

                                                <a href="#" rel="bookmark" title="کفپوش سه بعدی خودرو مدل پالیز مناسب برای دنا-سمند-پژو 405-پارس">
                                                    <h2 class="products-loop-product__title">کفپوش سه بعدی خودرو مدل پالیز مناسب برای دنا-سمند-پژو 405-پارس</h2>
                                                </a>
                                                <div class="actions">
                                                    <ul class="add-to-links">
                                                        <li><div class="add_to_wishlist_wrap"><a href="#" class="add_to_wishlist archive_add_to_wishlist"></a></div></li>
                                                        <li class="compare-button"><a href="#" class="button compare">مقایسه</a></li>
                                                        <li>
                                                            <div class="add-to-cart-wrap">
                                                                <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">افزودن به سبد</a>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </div>

                                <div class="swiper-slide">
                                    <li class="item product type-product status-publish first instock product_cat-inner-car-interior has-post-thumbnail">
                                        <div class="item-area item_general clear">
                                            <div class="product-image-area">
                                                <a class="product-image" href="#">
                                                    <div class="prd_color_list">
                                                        <span style="background-color:#ff1616" data-title="قرمز"></span>
                                                        <span style="background-color:#0c0c0c" data-title="مشکی"></span>
                                                    </div>
                                                    <img src="img/9876-185x185.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="product-detail-area">
                                                <span class="price"><span class="products-Price-amount amount"><bdi>1,120,000&nbsp;<span class="products-Price-currencySymbol">تومان</span></bdi></span></span>

                                                <a href="#" rel="bookmark" title="سردنده آقای چرم مدل sd-302 مناسب برای ساینا و پراید و تیبا ۱و2">
                                                    <h2 class="products-loop-product__title">سردنده آقای چرم مدل sd-302 مناسب برای ساینا و پراید و تیبا ۱و2</h2>
                                                </a>
                                                <div class="actions">
                                                    <ul class="add-to-links">
                                                        <li><div class="add_to_wishlist_wrap"><a href="#" class="add_to_wishlist archive_add_to_wishlist"></a></div></li>
                                                        <li class="compare-button"><a href="#" class="button compare">مقایسه</a></li>
                                                        <li>
                                                            <div class="add-to-cart-wrap">
                                                                <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">افزودن به سبد</a>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </div>

                                <div class="swiper-slide">
                                    <li class="item product type-product status-publish first instock product_cat-inner-car-interior has-post-thumbnail">
                                        <div class="item-area item_general clear">
                                            <div class="product-image-area">
                                                <a class="product-image" href="#"><img src="img/876-185x185.jpg" alt="" /></a>
                                            </div>
                                            <div class="product-detail-area">
                                                <span class="price"><span class="products-Price-amount amount"><bdi>1,120,000&nbsp;<span class="products-Price-currencySymbol">تومان</span></bdi></span></span>

                                                <a href="#" rel="bookmark" title="روکش صندلی خودرو مدل 88 بسته دو عددی">
                                                    <h2 class="products-loop-product__title">روکش صندلی خودرو مدل 88 بسته دو عددی</h2>
                                                </a>
                                                <div class="actions">
                                                    <ul class="add-to-links">
                                                        <li><div class="add_to_wishlist_wrap"><a href="#" class="add_to_wishlist archive_add_to_wishlist"></a></div></li>
                                                        <li class="compare-button"><a href="#" class="button compare">مقایسه</a></li>
                                                        <li>
                                                            <div class="add-to-cart-wrap">
                                                                <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">افزودن به سبد</a>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </div>


                            </div>


                            <div class="mweb-swiper-next"><i class="fal fa-angle-right"></i></div>
                            <div class="mweb-swiper-prev"><i class="fal fa-angle-left"></i></div>
                        </div>

                    </section>
                </div>
            </div>
        </div><!-- ./ container -->

    </div>
    <div class="quick_view_wrap" id="quick_view"></div>
</div><!--#main-site-wrap-->